
.slider {
  background-color: #215398;
  position: relative;
  height: 465px;
  text-align: center;
  h1, h3 {
    color: #ffffff;
  }
  .slider_container {
    margin: 0 auto;
    width: 450px;
    @media only screen and (min-width: 1024px) {
      width: 800px;
    }
    @media only screen and (min-width: 1280px) {
      width: 1150px;
    }
    height: 228px;
    position: relative;
    .slider_boxes {
      width: 350px;
      @media only screen and (min-width: 1024px) {
        width: 700px;
      }
      @media only screen and (min-width: 1280px) {
        width: 1050px;
      }
      height: 100%;
      display: inline-flex;
      overflow: hidden;
      position: relative;
      .slider_box {
        position: absolute;
        height: 100%;
        margin: 0;
        box-sizing: border-box;
        .content {
          margin: 0 10px;
          height: 100%;
          background: #ffffff;
          img {
            width:42px;
          }
        }
      }
    }
    .arrow {
      position: absolute;
      top: 94px;
      height: 40px;
      width: 21px;
      &:hover {
        cursor: pointer;
        span {
          background: #ffffff;
        }
      }
      span {
        display: block;
        position: absolute;
        right:1px;
        top:19px;
        width: 28px;
        height: 2px; 
        background: #28a9e0;
        transition: all 0.1s ease-in-out;
      }
    }
    .arrow--left {
      left: 0;
      span:nth-child(1) {
        transform-origin: bottom left;
        transform: rotate(-45deg);
      }
      span:nth-child(2) {
        transform-origin: top left;
        transform: rotate(45deg);
      }
    }
    .arrow--right {
      right: 0;
      span:nth-child(1) {
        transform-origin: bottom right;
        transform: rotate(45deg);
      }
      span:nth-child(2) {
        transform-origin: top right;
        transform: rotate(-45deg);
      }
    }
  }
  .circle {
    position: absolute;
    bottom: -15px;
    border-radius: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: #ff3859;
  }
}
